services:
  app:
    depends_on:
      db:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    environment:
      CONFIG_PATH: "config/dev.yml"      
      MIGRATION_PATH: "migrations"
    volumes:
      - ./config/dev.yml:/app/config/dev.yml
    networks:
      - app-net   

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: useinsider
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-net    
networks:
  app-net:

volumes:
  pgdata: